@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "red-hat";   /*Can be any text*/
    src: local("RedHatText-VariableFont_wght"),
      url("assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  }

*{
  font-family: "red-hat";
}

.scrollable {
  overflow: auto;
  /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
  /* scrollbar-width: none; Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
/* Hide scrollbar for Chrome, Safari, and newer Edge */
.scrollable::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}